<h3 style="font-size: 70px;
font-weight: 600;
background-image: linear-gradient(to left, #553c9a, #b393d3);
color: transparent;
background-clip: text;
-webkit-background-clip: text; font-size: xx-large;">Products</h3>

<ng-container *ngIf="userRole == 'admin'">
  
  <div style="justify-content: center; align-items: center; display: flex;">
    <mat-card style="background-color: white; width: 40rem;">
        <span style="font-size: 50px;
            font-weight: 200;
            background-image: linear-gradient(to left, #553c9a, #b393d3);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text; font-size: x-large;">{{!isEdit ? 'Add' : 'Edit'}} Product</span>
        <form class="example-form" [formGroup]="fg" >
            <div class="row">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Product ID</mat-label>
                    <input matInput [formControlName]="'productId'" >
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Product Name</mat-label>
                    <input matInput [formControlName]="'productName'">
                </mat-form-field>
            </div>
            <div class="row">
                <button mat-raised-button color="warn"  style="width: 15rem;">Cancel</button>
                &nbsp;
                <button mat-raised-button color="primary" style="width: 15rem;" (click)="save()">{{!isEdit ? 'Save' : 'Update'}} </button>
            </div>
        </form>
    </mat-card>
  </div>
  <br/>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="productId">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.productName}} 

        
      </td>
    </ng-container>


    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-mini-fab color="primary" (click)="edit(element)">
            <mat-icon>edit</mat-icon>
          </button>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-mini-fab color="warn" (click)="deleteItem(element)">
            <mat-icon>delete</mat-icon>
          </button>  
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-container>

  <br/>
  <!-- //PRODUCT LIST -->
<ng-container>

<div class="row">
  <div class="column" *ngFor="let item of data" >
    <div class="card">
      <img [src]="item.imgSrc" style="width: 100%; height: 100%;">
      <h1>{{item.productName}}</h1>
      <p class="price">$50.00</p>
      <p>details </p>
      <p><button routerLink="./../cart/{{item.productId}}">Add to Cart</button></p>
    </div>

    
  </div>  
</div>
</ng-container>

