    
    ::ng-deep .mat-form-field-label{
        color:#000 !important;
    }
  input{
    color: #000;
  }
    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
      }
      
      .example-full-width {
        width: 100%;
      }

      table {
        width: 100%;
        background-color: white;
      }
      td,th{
        color: #000;
      }
      td.mat-cell {
        /* row padding */
        /* row border */
        // border-bottom: 0.5px solid black;
        border-top: 0.2px solid rgb(184, 184, 184);
       }
  

  //  ----------------

  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    width: 350px;
    margin-bottom: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }






  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }